<div class="nav ui menu">
    <a class="logo-container item" href="/#/dashboard"><img src="/images/logo.png"></a>
    <a class="item" href="/#/applications">Applications</a>
    <a class="item" href="/#/hosts">Hosts</a>
    <div class="right menu" id="rightMenu">
       <a class="item" href="https://docs.containership.io">Docs</a>
       <a class="item" href="https://github.com/growbrosops/containership/issues">Support</a>
    </div>
</div>
